body{
    margin: 0px;
    background-color: #a7d7f6;
}

div#main{
    width:100%;
   
}
div#header{
    height:60px;
    background-color: #0f5eac;
}
div#navi{
    height:50px;background-color: #0f5eac;
    color: #fff; padding-right: 20px; text-align: right; padding-top: 10px;
    
}
div#contents{
    min-height: 500px;
    font-family: monospace;
}
div#footer{
    height: 100px;
}

.hea{
    text-align: center; font-size: 40px; padding-top: 10px; color:  #bfbaba;

}
.fo{
    text-align: center; font-style: italic; font-size: -1;
    
}

.ali{text-align: center}

.font{
    color: #2d5269;
}

.font:hover {
    color: #fff;
}

.font1{
    color: #096dac;
}

.mytable{
    font-family: monospace;
}
.mytable th{
    /*font-weight: 500;*/
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: solid #000000 1px;
}
.table>tbody>tr>th{
    color: #096dac;
}


table {
    display: block;
    overflow-x: auto;
    /*white-space: nowrap;*/
}
